.cell input,
.cell select {
  border-radius: 6px;
  border: 1px solid rgba(0, 0, 0, 0.25);
  padding: 0.2em 0.4em;
  background-color: #f9f9f9;
  color: #242424;
  line-height: 0.9rem;
  box-sizing: border-box;
  font-size: 0.9rem;
  height: calc(1.3rem + 2px);
  min-height: calc(1.3rem + 2px);
  max-height: calc(1.3rem + 2px);
  width: 100%;
  min-width: 100%;
  max-width: 100%;
  box-sizing: border-box;
  outline: none;
  box-shadow: none;
  margin: 0;
}

.cell input:focus,
.cell input:focus-visible,
.cell select:focus,
.cell select:focus-visible {
  /* border: 1px solid blue; */
  outline: 1px solid blue;
}

.cell input:hover:not(:focus):not(:focus-visible),
.cell select:hover:not(:focus):not(:focus-visible) {
  /* border: 1px solid blue; */
  outline: 1px solid gray;
}
